body {
    padding:0; 
    margin:0;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p, span {
    margin:0;
    padding:0;
}



:root {
    --primary-colour: #3C6D79;
    --secondary-colour: #F9AE65;
    --light-txt: #F1EDE5;
    --dark-txt: #634B66;

    --gutter-padding: 26px;
    --neg-gutter-padding: -26px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*******************************************************************/

body {
    background-color: var(--primary-colour);
}



.sub_wrapper_01, .sub_wrapper_03 {
    padding:var(--gutter-padding);
}




.header {
    display: flex;
    padding: var(--gutter-padding) 0 0 0;
}
.logo {
    flex: 0 0 150px;
}
.logo img {
    width: 100%;
}


/**********Section One************/
.section_1 {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 28vh 25vh 14vh;
    grid-template-areas: 
        "title title title ."
        "hero hero hero word_01" 
        "hero hero hero word_02" 
        ". cta cta ."
    ;
}

.title {
    grid-area: title;
    padding: var(--gutter-padding) 0;
}

.title h1 {
    color: var(--secondary-colour);
    font-weight: 500;
    letter-spacing: -0.05em;
    font-size: calc(1.2em + 4vw);
}

.hero {
    grid-area: hero;
    width: calc(100% + var(--gutter-padding));
    transform: translateX(var(--neg-gutter-padding));
}

.hero img {
    height:100%;
    width: 100%;
    object-fit: cover;
}

.word_graphic {
    color: var(--light-txt);
    font-size: 0.5em;
    padding: 10px;
}
.word_graphic_01 {
    grid-area: word_01;
}

.word_graphic_01 p {
    position: absolute;
    transform: translateY(-0.5em) rotate(90deg);
    transform-origin: bottom left;
    width: 200px;
}

.word_graphic_02 {
    grid-area: word_02;
    display: flex;
    align-items: flex-end;
}

.cta {
    grid-area: cta;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cta a {
    display:inline-block;
    color: var(--dark-txt);
    text-decoration: none;
    background-color: var(--secondary-colour);
    padding:14px 50px;
    border-radius: 30px;
    white-space: nowrap;
}


/************Section Two***************/
.section_2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    
        "title_h2 word_03"
        "step-one step-one"
        "step-two step-two"
    ;

    /* background-image: url(assets/surf-dark.png);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 100%; */

}

.title_02 {
    grid-area: title_h2;
}

.title_02 h2 {
    color: var(--secondary-colour);
    font-weight: 500;
    letter-spacing: -0.05em;
    font-size: calc(1em + 4vw);
    padding: var(--gutter-padding) 0;
    
}

.word_graphic_03 {
    grid-area: word_03;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.word_graphic_03 p {
    position: absolute;
    transform: translateY(-10px) rotate(90deg);
    transform-origin: top right;
}

.surf_image {
    grid-column: 1 /span 2;
    grid-row: 2 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.surf_image img {
    max-width: 600px;
    max-height: 500px;
    opacity: 0.15;

}

.step {
    padding: var(--gutter-padding);
    padding-right: 0;
}

.step_01 {
    grid-area: step-one;
}

.step_02 {
    grid-area: step-two;
}
.step h3 {
    padding-left: var(--gutter-padding);
    color:var(--light-txt);
    font-size: 1.8em;
}

.step_line {
    margin: 10px 0;
    width: calc(100% + var(--gutter-padding));
    border-bottom: 4px solid var(--light-txt);
}

.step p {
    color:var(--light-txt);
    padding: var(--gutter-padding);
}



/*************Section 3***************/

.section_3 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.sub_hero {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.sub_hero img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/*************Section 4***************/


.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:300px;
    background-image: url(assets/open_beach_op.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.newsletter-form-container form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-form-container form > * {
    margin-top:16px;
}

.newsletter-form-container form .text_input {
    padding: 14px 30px 14px 20px;
    border-radius: 30px;
    border: 1px solid lightgray;   
}

.newsletter-form-container form span {
    display: flex;
    align-items: flex-start;
    max-width:180px;
}

.newsletter-form-container form .text_input,
.newsletter-form-container form .checkbox_label{
    display: inline-block;    
    width:200px;
}

.newsletter-form-container form .checkbox_label{
    font-size: 0.6em;
}

.newsletter-form-container form button {
    cursor: pointer;
    border: none;
    background-color: var(--secondary-colour);
    color: var(--dark-txt);
    padding:14px 30px;
    border-radius: 30px;
}

@media all and (min-width:800px) {

    .logo {
        flex: 0 0 200px;
    }

    /*********Section One***********/

    .section_1 {
        padding: var(--gutter-padding) 0 0 0 ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 28vh 25vh 14vh;
        grid-template-areas: 
            "hero hero title title"
            "hero hero title title"
            "hero hero cta ."
            "hero hero word_01 word_02"
        ;
    }

    .hero {
        grid-area: hero;
        width: 100%;
        transform: none;
        
    }

    .title, .cta, .word_graphic_01 {
        padding: 0 0 0 var(--gutter-padding);
    }

    .title h1 {
        font-size: calc(1.2em + 5vw);
    }

    .cta {
        justify-content: flex-start;
    }

    .word_graphic_01 {
        align-self: end;
    }

    .word_graphic_02 {
        justify-content: flex-end;
    }

    .word_graphic_01 p {
        position: static;
        transform: none;
        transform-origin: none;
        width: unset;
    }
    .word_graphic_02 p {
        position:absolute;
        transform: translateY(10px) rotate(90deg);
        transform-origin: top right;
        width:80px;
    }

    /************Section Two***************/
    .section_2 {
        margin-top: 6vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        
            "title_h2 title_h2 word_03"
            "image step-one step-one"
            "image step-two step-two"
        ;
    }

    .title_02 h2 {
        width: 70%;
    }

    .step_line {
        width:100%;
    }

    .surf_image {
        grid-area: image;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .surf_image {
        width:30vw;
        max-height: unset;
    }

    .surf_image img {
        width: 100%;
        max-height: unset;
    }
}




@media all and (min-width:1400px) {

    /***********Section One***********/
    .section {
        max-width:1500px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_3, .section_4 {
        max-width:unset;
        margin-left: auto;
        margin-right: auto;
    }

    .title h1 {
        font-size: 5em;
        max-width: 600px;
    }


    .title_02 h2 {
        font-size: 5em;
        max-width: 700px;
    }

    /****************Section 4****************/
    .newsletter-form-container form .text_input,
    .newsletter-form-container form .checkbox_label{
      
        width:300px;
    }
}