body {
    padding:0; 
    margin:0;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p, span {
    margin:0;
    padding:0;
}



:root {
    --primary-colour: #3C6D79;
    --secondary-colour: #F9AE65;
    --light-txt: #F1EDE5;
    --dark-txt: #634B66;

    --gutter-padding: 26px;
    --neg-gutter-padding: -26px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*******************************************************************/

body {
    background-color: var(--primary-colour);
}

.wrapper {
    padding:var(--gutter-padding);
}

.header {
    display: flex;
    padding: var(--gutter-padding) 0 0 0;
}
.logo {
    flex: 0 0 150px;
}
.logo img {
    width: 100%;
}


/**********Section One************/
.section_1 {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 28vh 25vh 14vh;
    grid-template-areas: 
        "title title title ."
        "hero hero hero word_01" 
        "hero hero hero word_02" 
        ". cta cta ."
    ;
}

.title {
    grid-area: title;
    padding: var(--gutter-padding) 0;
}

.title h1 {
    color: var(--secondary-colour);
    font-weight: 500;
    letter-spacing: -0.05em;
    font-size: calc(1.2em + 4vw);
}

.hero {
    grid-area: hero;
    width: calc(100% + var(--gutter-padding));
    transform: translateX(var(--neg-gutter-padding));
}

.hero img {
    height:100%;
    width: 100%;
    object-fit: cover;
}

.word_graphic {
    color: var(--light-txt);
    font-size: 0.5em;
    padding: 10px;
}
.word_graphic_01 {
    grid-area: word_01;
}

.word_graphic_01 p {
    position: absolute;
    transform: translateY(-0.5em) rotate(90deg);
    transform-origin: bottom left;
    width: 200px;
}

.word_graphic_02 {
    grid-area: word_02;
    display: flex;
    align-items: flex-end;
}

.cta {
    grid-area: cta;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cta a {
    display:inline-block;
    color: var(--dark-txt);
    text-decoration: none;
    background-color: var(--secondary-colour);
    padding:14px 50px;
    border-radius: 30px;
    white-space: nowrap;
}


/************Section Two***************/


@media all and (min-width:800px) {

    .logo {
        flex: 0 0 200px;
    }

    /*********Section One***********/

    .section_1 {
        padding: var(--gutter-padding) 0 0 0 ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 28vh 25vh 14vh;
        grid-template-areas: 
            "hero hero title title"
            "hero hero title title"
            "hero hero cta ."
            "hero hero word_01 word_02"
        ;
    }

    .hero {
        grid-area: hero;
        width: 100%;
        transform: none;
        
    }

    .title, .cta, .word_graphic_01 {
        padding: 0 0 0 var(--gutter-padding);
    }

    .title h1 {
        font-size: calc(1.2em + 5vw);
    }

    .cta {
        justify-content: flex-start;
    }

    .word_graphic_01 {
        align-self: end;
    }

    .word_graphic_02 {
        justify-content: flex-end;
    }

    .word_graphic_01 p {
        position: static;
        transform: none;
        transform-origin: none;
        width: unset;
    }
    .word_graphic_02 p {
        position:absolute;
        transform: translateY(10px) rotate(90deg);
        transform-origin: top right;
        width:80px;
    }
}

@media all and (min-width:1400px) {



    /***********Section One***********/
    .section_1 {
        max-width:1800px;
        margin: 0 auto;
    }

    .title h1 {
        font-size: 6em;
        max-width: 700px;
    }
}